<!DOCTYPE html>
<!--THYMELEAF XMLNS-->
<html xmlns:th="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Search</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"></link>
    <script	src="/js/jquery.min.js"></script>
    <script	src="/js/bootstrap.min.js"></script>
    <style>
        img{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
        }
    </style>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 jumbotron" >
            <form th:action="${submit}" th:method="GET">
                <label>Search for an event:</label>
                <input type="text" name="name" value="" class="form-control" />
                <br/>
                <input type="submit" value="search" class="form-control btn btn-info" />
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 jumbotron" th:each="event : ${events}">
            <p th:text="${event.name}"></p>
            <p th:text="${event.date}"></p>
            <a th:href="${url}+${event.id}" class="form-control btn btn-success" th:text="${url} ==  '/tickets/gates/' ? 'Issue a ticket' : 'View'"></a>
        </div>
    </div>
</div>
</body>
</html>